body {
    font-family: sans-serif;
    font-size: 20px;
}

table {
    border-collapse: collapse;
}
table, td, th {
    border: 1px solid black;
    padding: 4px;
}
td #list {
    text-align: right;
}
td:first-child {
    text-align: initial;
}
th {
    background: lightgray;
}
